<!-- quotes/templates/quotes/home.html --> 
{% load static%}
<html>
    <head>
        <title>Cardi B Quote Of The Day</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    </head>
    <body>
        <h1>Hello, world!</h1>

        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nihil cumque, fugiat consequuntur delectus, neque eum in, quod laudantium nemo dignissimos reprehenderit non corporis dolorum ipsam itaque sint voluptates praesentium. 
        </p>
        <footer>
            This page was brough to you by {{letter1}}, and by {{number}}.
        </footer>

    </body>
</html>