<!-- mini_insta /show_post.html 
# File: show_post.html 
# Author: Luisa Vazquez Usabiaga (lvu@bu.edu), 09/30/2025
# Description: indiviual post for the app mini_insta
-->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content%} 

<main> 
    <h1>{{ post.caption }}</h1> 

    {% if post.get_all_photos %}
        <div>
            <!-- Show all photos for this post -->
            {% for photo in post.get_all_photos %}
                <img src="{{ photo.image_url }}" alt="Post image">
                
            {% endfor %}
        </div>
    {% else %}
        <div>
            <!-- if no photos available, show No Image -->
            <img src="{% static 'images/no_image.png' %}" alt="No image available">
        </div>
    {% endif %}
    <h3>Posted on {{ post.timestamp }}</h3>
</main>

{% endblock %}
